.item__card {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 3rem;
}

.item__card_left-side,
.item__card_right-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.item__card_left-side {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding-top: 1rem;
}

.item__card_left-side-img {
  height: 21rem;
  width: 100%;
  border-radius: 40px;
  object-fit: contain;
}

.item__card_information {
  font-family: "Roboto Condensed", sans-serif;
  padding: 2rem 1.5rem;
  margin: 1rem auto;

  width: 100%;
  border-radius: 13px;
}

.item__card_information a {
  color: rgb(5, 5, 121);
}
.item__card_information p {
  line-height: 1.4rem;
  font-size: 0.79rem;
}
.item__card_information a:hover {
  color: rgb(102, 102, 255);
  font-weight: 600;
}

.scoreboar {
  width: 100%;
  display: flex;
  column-gap: 1rem;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  margin: 2% 0;
}

.scoreboard__score,
.scoreboard__ranked,
.scoreboard__popularity {
  padding: 1rem 0.5rem;
  font-size: 1.3rem;
}

.scoreboard__score-title {
  width: 100%;
  background-color: var(--red-color);
  color: aliceblue;
  padding: 0 0.8rem;
  margin: 0.2rem 0;
  border-radius: 3px;
}
.scoreboard__score-score {
  font-size: 2rem;
}

.scoreboard__score-scored_by {
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.515);
}

.scoreboard__trailer {
  position: relative;
  padding: 0 0.3rem;
}

.scoreboard-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.scoreboard-play i {
  font-size: 1rem;
  color: #fff;
}

.scoreboard__trailer img {
  width: 100%;
  transition: 0.3s;
  height: 100%;
  object-fit: contain;
}

.scoreboard__trailer img:hover {
  opacity: 0.8;
}

.synopsis,
.background {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 1rem 1rem;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  width: 100%;
}
.synopsis__text {
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.8rem;
  padding-top: 1rem;
}

/**------- characters and voices -------*/

.characters_voices-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* border: 1px solid rgba(0, 0, 0, 0.9); */
  width: 100%;
  margin-top: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.subtitles {
  display: flex;
  justify-content: space-around;
}
.characters__group {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.characters__voice-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem 0;
  border: 1px solid rgba(69, 69, 69, 0.1);
}

.characters__voice-list img {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
}

.voice-container,
.character-container {
  display: flex;
  align-items: center;
  color: rgb(76, 76, 76);
}

.voice-container {
  flex-direction: row-reverse;
}

.showMore-btn {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  padding: 0.4rem;
  outline: 0;
  border: none;
  background: linear-gradient(90deg, var(--red-color), var(--red-sec-color));
  margin-top: 1rem;
  cursor: pointer;
}

.no-info {
  color: var(--red-sec-color);
  padding: 0 1rem;
}

/** ---------MEDIAS ----------------------*/

@media (min-width: 870px) {
  .item__card {
    grid-template-columns: 20rem 1fr;
    column-gap: 0.5rem;
  }
  .scoreboar {
    height: 10rem;
    margin: 0 0 1% 0;
  }
  .scoreboard__trailer {
    height: 100%;
  }

  .scoreboard-play i {
    font-size: 2.9rem;
  }

  .scoreboard__score {
    padding-left: 2.5rem;
  }

  .synopsis__text {
    text-align: start;
    font-size: 0.85rem;
  }
  .item__card_information p {
    font-size: 0.86rem;
  }
}

@media (min-width: 970px) {
  .characters__group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Estilos para el carousel */
.carousel-container {
  overflow: hidden;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

/* Estilos para cada recomendación */
.carousel-recommendation {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.recommendation-img {
  width: 100%;
  max-width: 200px;
  object-fit: contain;
  height: auto;
}
