/*
--primary-color: #1d3557;
--primary-light-color: #457b9d;
--secundary-color: #a8dadc;
--body-color: #f1faee;
--red-color: #e63946; 
--red-sec-color: #ff4500; 
*/

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, var(--red-color), var(--red-sec-color));
  padding: 15px 5%;
  margin: 0 auto;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  z-index: 60;
}

.navbar .scrolled {
  box-shadow: 0 22px 14px rgba(0, 0, 0, 0.2);
}

.navbar__title-logo {
  display: flex;
  align-items: center;
}

/* ----------------   LOGO   ---------------------- */

.logo-text {
  font-family: "Yu Gothic", Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 5px 10px;
  background-color: var(--body-color);
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-left: 5rem;
}

.logo-red::before {
  color: var(--red-sec-color);
  position: absolute;
  right: 0;
  top: 0;
}

.logo-red {
  color: var(--red-sec-color);
}

.navbar__menu {
  cursor: pointer;
  font-size: 24px;
}

.sidebar {
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  right: -100%;
  width: 250px;
  height: 100vh;
  background: linear-gradient(to right, var(--red-color), var(--red-sec-color));
  transition: right 0.3s ease-in-out;
  color: #fff;
  padding-top: 50px;
  z-index: 9999;
}

.sidebar--open {
  right: 0;
}

.sidebar__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 20px;
}

.sidebar__title {
  font-weight: bold;
  font-size: 20px;
}

.sidebar__close {
  cursor: pointer;
  font-size: 20px;
}

.sidebar__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar__list-item {
  padding: 10px 20px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar {
    justify-content: flex-end;
  }

  .navbar__menu {
    margin-right: 20px;
  }
  .navbar__title-logo {
    padding: 0 2rem;
  }

  .content {
    margin-right: 0;
  }

  .sidebar {
    width: 100%;
    right: -100%;
  }

  .sidebar--open {
    right: 0;
  }
}

h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.search-bar {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 0.5rem;
  transition: all 0.3s ease;
  height: 3rem;
}

.search-bar.visible {
  max-height: 100px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.search-bar input {
  flex: 1;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 16px;
  background-color: transparent;
}

.search-bar button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  padding: 8px;
  font-size: 16px;
  color: #555;
}

.search-bar button:hover {
  color: #333;
}

.search-bar .toggle-search {
  margin-left: 10px;
}

.search-bar .toggle-search i {
  font-size: 16px;
}

@media (max-width: 768px) {
  .search-bar {
    flex-direction: column;
  }

  .search-bar.visible {
    max-height: 200px;
  }

  .search-bar input {
    margin-bottom: 10px;
  }
}
