/* -----------------ANIMES CARD ------------------------*/

.animes_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 3rem 1rem;
}
.animes__card {
  position: relative;
  width: 22rem;
  padding: 0.3rem;
  text-align: center;
}

.animes__card-img {
  text-align: center;
  object-fit: contain;
  /* border-radius: 15px; */
}

.animes__card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: 0.9s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animes__card:hover .animes__card-overlay {
  opacity: 1;
}
.animes__card-text {
  color: white;
  font-size: 18px;
  text-align: center;
}
.animes__card-btn {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--red-color);
  border: none;
  color: var(--body-color);
  padding: 10px 0;
  cursor: pointer;
  font-size: 1.25rem;
}

.section__title {
  width: 100%;
  font-weight: 500;
  text-align: center;
}

.splide__slide {
  text-align: center;
}

.splide__slide img {
  height: 17.6rem;
  cursor: pointer;
}

/*---------------------------- BREAKPOINTS------------------------ */

/* @media screen and (min-width: 568px) {
  .animes__card-img {
    width: 100%;
    max-width: 20rem;
    height: 21rem;
  }
  .animes__card {
    width: 15rem;
  }
}

@media screen and (min-width: 1168px) {
  .animes__card-img {
    width: 100%;
    height: 19rem;
  }
  .animes__card {
    width: 19rem;
  }
}

@media screen and (min-width: 1600px) {
} */
