@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Poppins:wght@100;400;500;600&family=Raleway:wght@100;400&family=Rubik:wght@400;600;700&display=swap");

/* FONTS */
/* 
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Rubik', sans-serif; 

264653 2A9D8F  E9C46A F4A261 E76F51


*/
:root {
  --primary-color: #1d3557;
  --primary-light-color: #457b9d;
  --secundary-color: #a8dadc;
  --body-color: #f1faee;
  --red-color: #e63946;
  --red-sec-color: #ff4500;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  background-color: var(--body-color);
  font-family: "Poppins", sans-serif;
}

/** ESTILOS DE BOOTSTRAP */

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
